
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #f8f9fa; 
    font-family: Arial, sans-serif;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
    margin: 0; 
}


h1 {
    text-align: center;
    margin: 20px 0;
    color: #343a40;
    font-size: 2.5rem;
}


.navbar {
    background-color: #6c757d !important;
    width: 100%; 
    margin-bottom: 20px;
}


.carousel {
    width: 50%; 
    margin: 20px 0; 
    border: 2px solid #6c757d;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel-caption {

    color: #343a40;
}

.carousel-inner img {
    height: 400px; 
    object-fit: cover; 
}

.accordion {
    width: 50%; 
    margin: 20px auto; 
}

.accordion-button {
    background-color: #dee2e6;
    color: #495057;
}

.accordion-button:hover {
    background-color: #adb5bd;
}

/* Footer
.footer {
    text-align: center;
    background-color: #343a40;
    color: white;
    padding: 10px 0;
    width: 100%;
    margin-top: 20px;
}
 */